body {
    margin: 0;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;

  }
  
  #decorative-header {
    display: flex;
    justify-content: center;
    background: white;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #monologue-header img {
    height: 6rem;
    width: auto;
  }
  
  #audition-repertoire {
    margin: 2rem;
  }

  /* label {
    display: block;
    font: 1.5rem 'Fira Sans', sans-serif;
  } */

  input,
  label {
    margin: .4rem 0;
    border-radius: 5px;
    height: 2rem;
    width: 50%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }

  
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  }
  
  .monologue-text {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  button {
    position: relative;
    background-color: #12b523;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  
  .add-monologue-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: #e04b52;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
  