body {
    margin: 0;
    font-family: monospace;
    font-style: normal;
    font-weight: 100;

  }
  
  #decorative-header {
    display: flex;
    justify-content: center;
    background: white;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #monologue-header img {
    height: 6rem;
    width: auto;
  }
  
  #audition-repertoire {
    margin: 2rem;
  }


  input,
  label {
    margin: .4rem 0;
    border-radius: 5px;
    height: 2rem;
    width: 40%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }

  
  .card {
    text-align: left;
    border: grey solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 40rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px lightcyan
  }
  
  .monologue-text {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  button {
    position: relative;
    background-color: #12b523;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #12b523 solid 2px;
    color: #12b523;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: lightcyan;
    opacity: .8;
  }
  
  .add-monologue-form {
    width: 100%
  }
  
  .submit {
    position: relative;
    background-color: #561c03;
    border-radius: 5px;
    height: 2.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #561c03 solid 2px;
    color: #561c03;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 16px;
    font-family: monospace;
    margin: 3px;
  }

  .heart-glyph {
    cursor: pointer;
    font-size: 30px;
    position: relative
  }

  .activated-heart {
    color: red;
  }
  
  .star-glyph {
    cursor: pointer;
    font-size: 36px;
    position: relative;

  }

  .activated-star {
    color: gold;
  }

  /* span {
    display: flex;
    align-items: flex-end;
  } */

  .remove-btn {
    background-color: #12b523;
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 12px;
    float: right;
    display: block
  }

  .remove-btn:hover {
    background-color: whitesmoke;
    border: #12b523 solid 2px;
    color: #12b523;
  }